    <h2><%= current_user.unidade.nome %></h2>
    <% form_for @emprestimo do |f| %>
      <%= f.error_messages %>      
          <%unless session[:pessoa].present? %>
            <p><div id="tipo_emprestimo"><%= "Selecione um cliente -  #{link_to image_tag("/stylesheets/images/buscar.png", :size => "28x22"), "#inline_content", :class =>"inline"}" %></div></p>
          <%else%>
            <p><%= "#{Aluno.find(session[:pessoa]).nome} - #{link_to image_tag("/stylesheets/images/buscar.png", :size => "28x22"), "#inline_content", :class =>"inline"}" %></p>
          <%end%>
          <p>
            <div id="surge" style="display:none">
              <%= "Lista de livros a serem emprestados #{link_to image_tag('/stylesheets/images/icon_add.png', :title => 'Adicionar Livros'), '#inline_livro', :class => 'outline'}"%>
            </div>
          </p>
        
          <p><b>Livro(s) selecionado(s)</b></p>        
          <p>
            <div class="list_no_mark "id="retorno_livros">
              <% if @cart.present?%>
                <%= render "conteudo" %>
              <%end%>
            </div>
          </p>
          <p>
            <%= f.submit "Salvar" %>
          </p>
    <% end %>
    <%= render "form_inline_content" %>
    <%= render "form_inline_professor" %>
    <%= render "form_inline_carrinho" %>
