<h2><%= current_user.unidade.nome %></h2>
<% form_remote_for :livro, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()",
                    :url => {:controller => :emprestimos,
                    :action => "busca_tombo" } do |form| %>
                  <tr>
                    <td colspan="2">
                      <%= label_tag :tombo, "Digite o Tombo" %>
                    </td>
                    <td>
                      <%= text_field_tag :tombo %>
                    </td>
                  </tr>
                  <tr><td><%= image_submit_tag("/stylesheets/images/icon_add.png", :title => "Adicionar Livros") %></td></tr>
<%end%>

<% form_for @emprestimo, :html => {:name => "f1"} do |f| %>
<%= f.error_messages %>
  
    <b id="descricao">Livros</b><br/>

  <%= f.submit "Salvar" %>

<% end %>
        <div id="erro">Atenção</div>