
<% form_for @alunoclass do |f| %>
  <%= f.error_messages %>
  <table  align="center" bgcolor="#F5F5F5">
    <tr>
      <td><b><%= f.label :nome, "Classe:" %></b></td>
       <td><%= f.text_field :nome, :size => "55" %></td>
    </tr>
    <tr>
      <td><b><%= f.label :professor, "Professor:" %></b></td>
       <td><%= f.text_field :professor, :size => "55" %></td>
    </tr>
    <tr>
      <td><b><%= f.label :unidade, "Unidade:" %></b></td>
       <td><%= f.text_field :unidade, :size => "55" %></td>
    </tr>
    <tr>
      <td><b><%= f.label :ano, "Ano:" %></b></td>
       <td><%= f.datetime_select :ano %></td>
    </tr>
    <tr>
      <td><b><%= f.label :obs, "Observações:" %></b></td>
       <td><%= f.text_field :obs, :size => "55" %></td>
    </tr>

    <tr>
      <td><%= f.submit "Salvar" %></td>
    </tr>
</table>

<% end %>
   