  <table>
    <tr>
      <td align="right"><b>TOTAL DE ASSUNTOS: </b>
         <font color ="red "size="2"><b><%= @contador %></b></font>
      </td>
   </tr>
  </table>
  <div class="tabs">
    <table bgcolor="#DCDCDC" width="100%">
         <tr>
            <th width="630">Assunto</th>
            <th colspan="4">Administração</th>
         </tr>
          <% for assunto in @assuntos %>
          <tr bgcolor="#F5F5F5">
            <td align=""><%=h assunto.descricao %></td>
            <td align="center"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "15x15"), assunto, :title => "Visualizar Assunto" %></td>
            <% if current_user.has_role?('admin') or current_user.has_role?('escola') or current_user.has_role?('responsavel')%>
               <td align="center"><%= link_to image_tag("/stylesheets/images/edit.png", :size => "15x15"), edit_assunto_path(assunto),  :title => "Editar Assunto" %></td>
               <td align="center"><%= link_to image_tag("/stylesheets/images/excluir.png", :size => "15x15"), assunto, :confirm => 'Tem certeza?', :method => :delete,  :title => "Excluir Assunto" %></td>
            <%else%>
               <td align="center"> --- </td>
               <td align="center"> --- </td>
            <%end%>
          </tr>
          <% end %>
      </table>
      <table bgcolor="#DCDCDC" width="100%">
         <tr >
           <td align="left" colspan="4"><%= will_paginate @assuntos%></td>
       </tr>
      </table>
   </div>