<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <title><%= "Sistema de bibliotecas inter-escolares. Você está em: #{h(yield(:title) || 'Sem titulo')}" %></title>

    
    <%= stylesheet_link_tag 'application','menu' %>
    <%= stylesheet_link_tag '/javascripts/plugins/flexigrid/css/flexigrid.css' %>
    <%= stylesheet_link_tag 'colorbox','geral',"jquery.tooltip.css","pepper-grinder/jquery-ui-1.8.16.custom","jquery.multiselect","ui.selectmenu" %>
    <%= javascript_include_tag 'jquery-1.7','jquery.bgiframe.js','jquery.dimensions.js','jquery.tooltip.js','jquery-ui-1.8.16.custom.min',"jquery.ui.datetimepicker.min","jquery-ui-i18n.min",'jrails',"jquery.colorbox","colorbox.js","jquery.multiselect.min","ui.selectmenu",'plugins/flexigrid/js/flexigrid.pack','application.js' %>
    <%= yield(:head) %>
  </head>

<body>
<style media="print">
.invisible_to_print {
display: none;
}
</style>
 <div id="contents">
  <div id="informacao">
    <% unless informativos_corrente.empty? %>
     <div id="announcement">
      <table class="tabelas">
        <td>
          <p><h2 align="center">Quadro de Avisos</h2></p>
          <div id="color"  align="center">
            <%for informativo in informativos_corrente %>
            <p><%= informativo.mensagem %></p>
            <p>===============================================================================================</p>
            <%end%>
        </td>
     </table>
    </div>
   <h3 align="center"><b><%= link_to_remote("Ocultar esta mensagem", :url => {:controller => 'javascripts', :action => 'hide_announcement'}) %></b></h3>
  </div>
   <%end%>
  <div id="header">
    <br/>
    <div id="topo"></div>
    <%if logged_in? then%>
      <font size="4" color="green"><%= link_to h(current_user.login.capitalize), edit_user_path(current_user) %>  </font>
      <% if current_user.has_role?('admin') %>
       Acesso de Administrador do Sistema<font size="1"> ................................................................</font> <font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font>
      <%else%>
         <% if current_user.has_role?('responsavel') %>
            Acesso de Responsável pela Biblioteca(a)<font size="1"> .....................................................................</font> <font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font>
         <%else%>
            <% if current_user.has_role?('escola') %>
                  Acesso de Responsável pela Unidade Escolar<font size="1"> .....................................................................</font> <font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font>
            <%else%>
               <% if current_user.has_role?('usuario') %>
                     Acesso de  Usuário(a)<font size="1"> .....................................................................</font> <font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font>
               <%else%>>
                     Acesso de Usuário(a)<font size="1"> .....................................................................</font> <font size ="2"><b>Americana, <%= Time.now.strftime("%d de %B de %Y") %></b></font>
              <%end%>
            <%end%>
         <%end%>
     <%end%>
   <font style="color: red"><%= flash[:notice] %></font>
   <%else%>
      <%= link_to '|Entrar|', login_path %>
        <font style="color: red"><%= flash[:notice] %></font>
   <%end%>
 </div>
 <div class="nav">
   <div class="nav-container-outer">
     <img src="/stylesheets/images/nav-bg-l.jpg" alt="" class="float-left" />
     <img src="/stylesheets/images/nav-bg-r.jpg" alt="" class="float-right" />
            <ul id="nav-container" class="nav-container">
              <li><a class="item-primary" href="#">Arquivo</a>
                <ul style="width:108px;">
                  <li><%= link_to 'Inicio', root_path %></li>
                  <li><%= link_to 'Alterar ambiente', "#inline_ambiente", :class =>"line"%></li>
                  <li><%= link_to 'Sair', logout_path,:confirm => "Tem certeza que deseja fazer logout?" %></li>
                </ul>
              </li>
              <li><span class="divider divider-vert" ></span></li>
              <li><a class="item-primary" href="#;">Acervo</a>
                 <ul style="width:108px;">
                   <% if current_user.has_role?('admin') or current_user.has_role?('responsavel') %>
                    <li><a href="#"><b>Cadastrar</b></a>
                         <ul>
                          <li><%= link_to "Jogos", new_jogo_path %></li>
                          <li><%= link_to "Livros", new_livro_path %></li>
                          <li><%= link_to "Mapas", new_mapa_path %></li>
                          <li><%= link_to "Mídias", new_midia_path %></li>
                          <li><%= link_to "Periodicos" %></li>
                            <% if current_user.has_role?('admin') %>
                               <li><%= link_to "Autores", new_autor_path %></li>
                            <%end%>
                        </ul>
                     </li>
                  <%end%>
                     <li><a>Consulta</a>
                       <ul>
                          <li><%= link_to "Dicio.& Enciclo.", consultaDic_path %></li>
                           <li><%= link_to "Jogos", consultaJog_path %></li>
                           <li><a href="#"><b>Livros</b></a>
                              <ul>
                                 <li><%= link_to "Diversas", consultaLiv_path %></li>
                                 <li><%= link_to "Por Autor", consultaLivAut_path %></li>
                                 <li><%= link_to "Por Área", consultaLivAre_path %></li>
                                 <li><%= link_to "Por Assunto", consultaLivAss_path %></li>
                                 <li><%= link_to "Por Editora", consultaLivEdi_path %></li>
                                 <li><%= link_to "Por Títulos", consultaLivTit_path %></li>
                                 <li><%= link_to "Por Típos", consultaLivTip_path %></li>
                              </ul>
                           </li>
                           <li><%= link_to "Mapas", consultaMap_path %></li>
                           <li><%= link_to "Mídias", consultaMid_path %></li>
                           
                           <li><a href="#"><b>Musicas</b></a>
                              <ul>
                                 <li><%= link_to "Por Interprete", consultaCanMus_path %></li>
                                 <li><%= link_to "Por Titulo", consultaMus_path %></li>
                              </ul>
                           </li>



                       </ul>
                      </li>
                 </ul>
              </li>
              <% if current_user.has_role?('admin') and current_user.has_role?('escola') or  current_user.has_role?('responsavel')%>
              <li><span class="divider divider-vert" ></span></li>
              <li><a class="item-primary" href="#;">Operações</a>
                 <ul style="width:108px;">
                   <% if current_user.has_role?('admin') or current_user.has_role?('responsavel') %>
                    <li><a href="#"><b>Emprestimos</b></a>
                         <ul>
                           <li><%= link_to "Alunos", new_emprestimo_path(:type => 0 ) %> </li>
                           <li><%= link_to "Funcionarios", new_emprestimo_path(:type => 1)%></li>
                        </ul>
                     </li>
                  <%end%>
                     <li><a>Devolução</a>
                        <ul>
                          <li><%= link_to "Por Aluno"%></li>
                          <li><%= link_to "Por Classe"%></li>
                          <li><%= link_to "Por Emprestimo"%></li>
                          <li><%= link_to "Por Título"%></li>
                          <li><%= link_to "Por Tombo"%></li>
                          </ul>
                      </li>
                 </ul>
              </li>
             <%end%>
              <% if current_user.has_role?('admin') and current_user.has_role?('escola') or  current_user.has_role?('responsavel')%>
              <li><span class="divider divider-vert" ></span></li>
              <li><a class="item-primary" href="#;">Gerenciamento</a>
                 <ul style="width:108px;">
                   <% if current_user.has_role?('admin') or current_user.has_role?('responsavel') %>
                    <li><a href="#"><b>Tabelas</b></a>
                         <ul>
                          <li><%= link_to "Autores", consultaAut_path %></li>
                          <li><%= link_to "Áreas", consultaAre_path %></li>
                          <li><%= link_to "Assuntos", assuntos_path %></li>
                          <li><%= link_to "Cantores", consultaCan_path %></li>
                          <li><%= link_to "Editoras", consultaEdi_path %></li>
                          <li><%= link_to "Gêneros", consultaGen_path %></li>
                          <li><%= link_to "Músicas", consultaMus_path %></li>
                          <li><%= link_to "Títulos", consultaTit_path %></li>
                        </ul>
                     </li>
                  <%end%>
                     <li><a>Usuários</a>
                        <ul>
                          <li><%= link_to "Associar", new_roles_user_path %></li>
                          <li><%= link_to 'Gerenciar', roles_users_path %></li>
                          <li><%= link_to 'Log', tombos_path %></li>
                        </ul>
                     </li>
                     <li><a>Classes</a>
                        <ul>
                          <li></li>
                        </ul>
                     </li>
                 </ul>
              </li>
             <%end%>
       </ul>
     </div>
   </div>
   <div id="principal">
     <div id="conteudo">
        <%= yield  %>
     </div>
   </div>
   <div id="rodape">
     © 2011 . Prefeitura de Americana - SEDUC - Todos os Direitos Reservados.
   </div>
 </div>
   <%if @classes.present?%>
      <%= render "shared/forms/form_inline_ambiente" %>
   <%end%>
 </body>
</html>
